<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ammu.pa.fillme">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_ammu"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_ammu_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GrowActivity"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".NeemActivity"
            android:parentActivityName=".GrowActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GrowActivity" />
        </activity>
        <activity
            android:name=".RoseActivity"
            android:parentActivityName=".NeemActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NeemActivity" />
        </activity>
        <activity
            android:name=".MintActivity"
            android:parentActivityName=".RoseActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RoseActivity" />
        </activity>
        <activity
            android:name=".BanyanActivity"
            android:parentActivityName=".RoseActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RoseActivity" />
        </activity>
    </application>

</manifest>